body {
    margin: 0;
    padding :30px;
    font-family: Arial, sans-serif;

    background-image: url(../images/Background.jpg);
       
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color :#cccccc;
    
}

header {
    text-align: center;

    background-color: white;
    color: black;

    padding: 25px;
    margin-bottom: 40px;
    border: 15px solid #e60000;

    box-shadow:
        inset 0 0 0 3px #d4af37,
        0 0 0 3px #d4af37;

    position: relative;
}


header h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

header p {
    font-size: 18px;
}

header::before {
    content: "";

    position: absolute;

    top: -15px;
    left: -15px;

    width: calc(100% + 30px);
    height: calc(100% + 30px);

    pointer-events: none;

    background:
        /* Top */
        radial-gradient(circle, #ffffe0 0 4px, transparent 4.5px)
        top center / 24px 15px repeat-x,

        /* Bottom */
        radial-gradient(circle, #ffffe0 0 4px, transparent 4.5px)
        bottom center / 24px 15px repeat-x,

        /* Left */
        radial-gradient(circle, #ffffe0 0 4px, transparent 4.5px)
        left center / 15px 24px repeat-y,

        /* Right */
        radial-gradient(circle, #ffffe0 0 4px, transparent 4.5px)
        right center / 15px 24px repeat-y;

    z-index: 10;
}

.movie-list {
    display: grid;
    grid-template-columns: repeat(3, 290px);
    justify-content: space-evenly;
    gap: 30px;
}

.movie {
    width: 290px;
}

.movie h2,
.poster,
.movie-info,
.imdb-description,
.my-review {
    position: relative;

    background-color: white;
    color: black;

    border: 15px solid rgb(180, 2, 2);

    box-shadow:
        inset 0 0 0 3px #d4af37,
        0 0 0 3px #d4af37;

    box-sizing: border-box;
}

.movie h2::before,
.poster::before,
.movie-info::before,
.imdb-description::before,
.my-review::before {
    content: "";

    position: absolute;

    top: -15px;
    left: 0;

    width: 100%;
    height: calc(100% + 30px);

    pointer-events: none;

    /* Lights on the top and bottom */
    background:
        radial-gradient(circle, white 0 4px, transparent 4px)
        top center / 24px 15px repeat-x,

        radial-gradient(circle, white 0 4px, transparent 4px)
        bottom center / 24px 15px repeat-x;
}


.movie h2::after,
.poster::after,
.movie-info::after,
.imdb-description::after,
.my-review::after {
    content: "";

    position: absolute;

    top: 0;
    left: -15px;

    width: calc(100% + 30px);
    height: 100%;

    pointer-events: none;

    /* Lights on the left and right */
    background:
        radial-gradient(circle, white 0 4px, transparent 4px)
        left center / 15px 24px repeat-y,

        radial-gradient(circle, white 0 4px, transparent 4px)
        right center / 15px 24px repeat-y;
}


.movie h2 {

    padding: 5px;
    margin: 0 0 20px 0;
    text-align: center;
}

.movie > a {
    color: black;
    text-decoration: none;
}

.movie > a h2{
    color: black;
}

.poster {
    width: 290px;
    height: 470px;

    margin-bottom: 15px;
}

.poster img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.movie-info {

    padding: 5px;
    margin-bottom: 15px;
}

.imdb-description {

    padding: 10px;
    margin-bottom: 15px;
    min-height: 60px;
}

.my-review {

    padding: 10px;
    min-height: 100px;
}

.imdb-description h3,
.my-review h3{
    margin-top: 0;
}
